footer{
    background-color: #20262c;
    color: white;
    padding: 10px 0;
    bottom: 0;
    border-top: solid 1px #000000;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

