.table-games {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  border-radius: 12px;
  height: 500px;
}

.table-games table {
    width: 100%;
}

.table-games th,
.table-games td {
    text-align: left;
    white-space: nowrap;
    max-width: 300px;
}


